@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");
body{
    font-family:Nunito, sans-serif;
    overflow: hidden;
}
@media screen and (orientation: portrait){
    html{
        font-size: 12px;
    }
    .card .line {
        padding-left: 30px;
        background-position: 3px;
        background-repeat: no-repeat;
        background-size: 24px;
    }
    .leaflet-popup-content {
        max-width: 250px;
    }
}
@media screen and (orientation: landscape){
    html{
        font-size: 18px;
    }
    input{
        font-size: 18px;
    }
    .leaflet-popup-content {
        min-width: 400px;
    }
    .card .line:not([class*="-"]) {
        padding-left: 36px;
        background-position: 3px;
        background-repeat: no-repeat;
        background-size: 30px;
    }
    .card .line[class*="-"] {
        padding-left: 56px;
        background-position: 3px;
        background-repeat: no-repeat;
        background-size: 50px;
    }
}
.card input::placeholder, 
.card input:-moz-placeholder,
.card input::-webkit-input-placeholder,
.card textarea::placeholder, 
.card textarea::-webkit-input-placeholder,
.card textarea:-moz-placeholder{ 
    font-family:Nunito, sans-serif;
}
.card td{padding: 0.3em;}
.line1{background-image: url(../imgs/1.svg);}
.line1-5{background-image: url(../imgs/1+5.svg);}
.line1-11{background-image: url(../imgs/1+11.svg);}
.line1-14{background-image: url(../imgs/1+14.svg);}

.line2{background-image: url(../imgs/2.svg);}
.line2-5{background-image: url(../imgs/2+5.svg);}
.line2-11{background-image: url(../imgs/2+11.svg);}
.line2-14{background-image: url(../imgs/2+14.svg);}
.line2-D2{background-image: url(../imgs/2+D2.svg);}

.line3{background-image: url(../imgs/3.svg);}
.line3-4{background-image: url(../imgs/3+4.svg);}
.line3-4-5{background-image: url(../imgs/3+4+5.svg);}
.line3-4-11{background-image: url(../imgs/3+4+11.svg);}
.line3-4-D1{background-image: url(../imgs/3+4+D1.svg);}
.line3-5{background-image: url(../imgs/3+5.svg);}
.line3-5-D2{background-image: url(../imgs/3+5+D2.svg);}
.line3-5-D2-D4{background-image: url(../imgs/3+5+D2+D4.svg);}
.line3-8A{background-image: url(../imgs/3+8A.svg);}
.line3-11{background-image: url(../imgs/3+11.svg);}
.line3-11-D3{background-image: url(../imgs/3+11+D3.svg);}
.line3-15{background-image: url(../imgs/3+15.svg);}
.line3-D1{background-image: url(../imgs/3+D1.svg);}
.line3-D2{background-image: url(../imgs/3+D2.svg);}

.line4{background-image: url(../imgs/4.svg);}
.line4-14{background-image: url(../imgs/4+14.svg);}
.line4-D1{background-image: url(../imgs/4+D1.svg);}

.line5{background-image: url(../imgs/5.svg);}
.line5-6{background-image: url(../imgs/5+6.svg);}
.line5-7{background-image: url(../imgs/5+7.svg);}

.line6{background-image: url(../imgs/6.svg);}
.line6-7{background-image: url(../imgs/6+7.svg);}
.line6-8{background-image: url(../imgs/6+8.svg);}
.line6-11{background-image: url(../imgs/6+11.svg);}
.line6-14{background-image: url(../imgs/6+14.svg);}
.line6-D2{background-image: url(../imgs/6+D2.svg);}

.line7{background-image: url(../imgs/7.svg);}
.line7-11{background-image: url(../imgs/7+11.svg);}

.line8{background-image: url(../imgs/8.svg);}
.line8-14{background-image: url(../imgs/8+14.svg);}
.line8-15{background-image: url(../imgs/8+15.svg);}

.line8A{background-image: url(../imgs/8A.svg);}
.line8A-9{background-image: url(../imgs/8A+9.svg);}
.line8A-11{background-image: url(../imgs/8A+11.svg);}
.line8A-11-14{background-image: url(../imgs/8A+11+14.svg);}

.line9{background-image: url(../imgs/9.svg);}
.line9-11-D1{background-image: url(../imgs/9+11+D1.svg);}

.line10{background-image: url(../imgs/10.svg);}
.line10-14{background-image: url(../imgs/10+14.svg);}

.line11{background-image: url(../imgs/11.svg);}

.line11A{background-image: url(../imgs/11A.svg);}

.line12{background-image: url(../imgs/12.svg);}

.line14{background-image: url(../imgs/14.svg);}
.line14-15{background-image: url(../imgs/14+15.svg);}

.line15{background-image: url(../imgs/15.svg);}

.lineD1{background-image: url(../imgs/D1.svg);}
.lineD2{background-image: url(../imgs/D2.svg);}
.lineD3{background-image: url(../imgs/D3.svg);}
.lineD4{background-image: url(../imgs/D4.svg);}
.lineD5{background-image: url(../imgs/D5.svg);}

.card .line{
    padding: 6px 12px 6px 28px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}
.card textarea{
    font-family: Nunito, sans-serif;
    font-size: inherit;
    margin: 0;
    padding: 6px;
    font-size: 1rem;
    resize: none;
    vertical-align: middle;
    border: 0.5px solid black;
    box-sizing: border-box;
    width: 100%;
}
.card{
    border-collapse: collapse; 
    vertical-align: middle;
    border: none;
}
.card input, .card textarea{
	font-family:Nunito, sans-serif;
	border: 0.5px solid black;
	padding: 3px 6px;
    box-sizing: border-box;
    width: 100%;
}
.card td.card-left{
    box-sizing: border-box;
    width: 20%;
}
.card td.card-right{
    box-sizing: border-box;
    width: 100%;
}
.card .contact-name{
	margin-bottom: 0;
	border-bottom: none;
}
.card td.plus-minus img{
	user-select: none;
	text-align: center;
	vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    /* green #35ad35 
    filter: invert(51%) sepia(33%) saturate(1018%) hue-rotate(71deg) brightness(101%) contrast(87%);
    
    blue #0078a8
    filter: invert(28%) sepia(91%) saturate(1456%) hue-rotate(172deg) brightness(95%) contrast(103%);
    
    red #ce1414 made with https://codepen.io/sosuke/pen/Pjoqqp
filter: invert(20%) sepia(86%) saturate(7493%) hue-rotate(357deg) brightness(84%) contrast(90%);*/
}
img[src$='plus.svg']{filter: invert(51%) sepia(33%) saturate(1018%) hue-rotate(71deg) brightness(101%) contrast(87%);}
img[src$='minus.svg']{filter: invert(20%) sepia(86%) saturate(7493%) hue-rotate(357deg) brightness(84%) contrast(90%);}
img[src$='save.svg'], img[src$='edit.svg'], img[src$='export.svg'], img[src$='import.svg']{filter: invert(28%) sepia(91%) saturate(1456%) hue-rotate(172deg) brightness(95%) contrast(103%);}

.card .lat{
	border-top: 0;
	border-bottom: 0;
}

.card .suggestions-promo{
	visibility: hidden;
}
/*для модальных окон*/
#blockscreen, #modalwindow {
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
      }
      #blockscreen {
        background: rgba(0, 0, 0, .5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1051;
      }
      #modalwindow {
        z-index: 1052;
        background: #fff;
        padding: 5px;
        margin: 5vw;
        border-radius: 5px;
        border: 1px solid #a1a1a1;
        box-shadow: 0 0 10px #444;
      }
      .modal{
        display: inline-block;
}
.modal-buttons{
	width: 100%;
	z-index: 1052;
	border-collapse: collapse; 
    vertical-align: middle;
    padding: 4px;
    border: 0;
    margin-top: 10px;
}
.modal-buttons img{
	user-select: none;
	text-align: center;
	vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 5px;
}
.modal-buttons #close-modal{
	text-align: right;
	line-height: 20px;
}