@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");
    body{
font-family:Nunito, sans-serif;
}
.card input[readonly], .card textarea[readonly]{
 	background-color: white;
 	border: none;
 	color: black;
 }
.card input::placeholder, 
.card input:-moz-placeholder,
.card input::-webkit-input-placeholder,
.card textarea::placeholder, 
.card textarea::-webkit-input-placeholder,
.card textarea:-moz-placeholder{ 
    font-family:Nunito, sans-serif;
}
.card input[readonly]::placeholder, 
.card input[readonly]:-moz-placeholder,
.card input[readonly]::-webkit-input-placeholder,
.card textarea[readonly]::placeholder, 
.card textarea[readonly]::-webkit-input-placeholder,
.card textarea[readonly]:-moz-placeholder{ 
	opacity: 0;
}
    .card td{padding: 0.3em;}
.line1{background-image: url(../imgs/Moskwa_Metro_Line_1.svg);}
.line2{background-image: url(../imgs/Moskwa_Metro_Line_2.svg);}
.line3{background-image: url(../imgs/Moskwa_Metro_Line_3.svg);}
.line4{background-image: url(../imgs/Moskwa_Metro_Line_4.svg);}
.line5{background-image: url(../imgs/Moskwa_Metro_Line_5.svg);}
.line6{background-image: url(../imgs/Moskwa_Metro_Line_6.svg);}
.line7{background-image: url(../imgs/Moskwa_Metro_Line_7.svg);}
.line8{background-image: url(../imgs/Moskwa_Metro_Line_8.svg);}
.line8A{background-image: url(../imgs/Moskwa_Metro_Line_8A.svg);}
.line9{background-image: url(../imgs/Moskwa_Metro_Line_9.svg);}
.line10{background-image: url(../imgs/Moskwa_Metro_Line_10.svg);}
.line11{background-image: url(../imgs/Moskwa_Metro_Line_11.svg);}
.line11A{background-image: url(../imgs/Moskwa_Metro_Line_11A.svg);}
.line12{background-image: url(../imgs/Moskwa_Metro_Line_12.svg);}
.line14{background-image: url(../imgs/Moskwa_Metro_Line_14.svg);}
.line15{background-image: url(../imgs/Moskwa_Metro_Line_15.svg);}
.lineD1{background-image: url(../imgs/Moskwa_Metro_Line_D1.svg);}
.lineD2{background-image: url(../imgs/Moskwa_Metro_Line_D2.svg);}
.lineD3{background-image: url(../imgs/Moskwa_Metro_Line_D3.svg);}
.lineD4{background-image: url(../imgs/Moskwa_Metro_Line_D4.svg);}
.lineD5{background-image: url(../imgs/Moskwa_Metro_Line_D5.svg);}
.rail{background-image: url(../imgs/train.svg);}
.card .line{
    padding: 6px 12px 6px 28px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    background-position: 1%;
    background-repeat: no-repeat;
    background-size: 24px;
}
.card textarea{
    font-family: Nunito, sans-serif;
    font-size: inherit;
    margin: 0;
    padding: 6px;
    font-size: 13px;
    resize: none;
    vertical-align: middle;
    border: 0.5px solid black;
    box-sizing: border-box;
    width: 100%;
}
.card{
    border-collapse: collapse; 
    vertical-align: middle;
    border: none;
}
.card input, .card textarea{
	font-family:Nunito, sans-serif;
	border: 0.5px solid black;
	padding: 3px 6px;
    box-sizing: border-box;
    width: 100%;
}
.card td.card-left{
    box-sizing: border-box;
    width: 20%;
}
.card td.card-right{
    box-sizing: border-box;
    width: 100%;
}
.card .contact-name{
	margin-bottom: 0;
	border-bottom: none;
}
.card td.plus-minus img{
	user-select: none;
	text-align: center;
	vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    /* green #35ad35 
    filter: invert(51%) sepia(33%) saturate(1018%) hue-rotate(71deg) brightness(101%) contrast(87%);
    
    blue #0078a8
    filter: invert(28%) sepia(91%) saturate(1456%) hue-rotate(172deg) brightness(95%) contrast(103%);
    
    red #ce1414 made with https://codepen.io/sosuke/pen/Pjoqqp
filter: invert(20%) sepia(86%) saturate(7493%) hue-rotate(357deg) brightness(84%) contrast(90%);*/
}
img[src$='plus.svg']{filter: invert(51%) sepia(33%) saturate(1018%) hue-rotate(71deg) brightness(101%) contrast(87%);}
img[src$='minus.svg']{filter: invert(20%) sepia(86%) saturate(7493%) hue-rotate(357deg) brightness(84%) contrast(90%);}
img[src$='save.svg'], img[src$='edit.svg']{filter: invert(28%) sepia(91%) saturate(1456%) hue-rotate(172deg) brightness(95%) contrast(103%);}

.card .lat{
	border-top: 0;
	border-bottom: 0;
}

.card .suggestions-promo{
	visibility: hidden;
}
/*для модальных окон*/
#blockscreen, #modalwindow {
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
      }
      #blockscreen {
        background: rgba(0, 0, 0, .5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1051;
      }
      #modalwindow {
        z-index: 1052;
        background: #fff;
        padding: 5px;
        margin: 5vw;
        border-radius: 5px;
        border: 1px solid #a1a1a1;
        box-shadow: 0 0 10px #444;
      }
      .modal{
        display: inline-block;
}
.modal-buttons{
	width: 100%;
	z-index: 1052;
	border-collapse: collapse; 
    vertical-align: middle;
    padding: 4px;
    border: 0;
    margin-top: 10px;
}
.modal-buttons img{
	user-select: none;
	text-align: center;
	vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 5px;
}
.modal-buttons #close-modal{
	text-align: right;
	line-height: 20px;
}